body {
    line-height: 1.3em;
    min-width: 920px;
}

.history-tl-container {
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
    margin: 50px auto;
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;
}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    margin-left: 200px;
    min-height: 50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left: 1px dashed black;
    padding: 0 0 50px 30px;
    position: relative;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -25px;
    top: -25px;
    content: " ";
    border: 15px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: black;
    height: 50px;
    width: 50px;
    transition: all 500ms ease-in-out;

}

/* .history-tl-container ul.tl li:hover::before {
    border-color: var(--yellow-color);
    transition: all 1000ms ease-in-out;
} */

ul.tl li .item-title {}

ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 100px;
}

ul.tl li img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    width: 220px;
    left: -70%;
    /* text-align: right; */
    font-size: 20px;
}